{% extends 'layout.html' %}

{% block title %}
Edit Task Page | Flask Test
{% endblock  %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
                <div class="card-body p-4 p-md-5">
                    <h2 class="mb-4 pb-2 pd-md-0 mb-md-5 px-md-2 text-center">Edit Task</h2>
                    <form action="/edittask/{{task.id}}" method="post">
                        <div class="form-group">
                            <input type="text" id="taskname" name="taskname" class="form-control" value="{{task.taskname}}">
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" id="url" name="url" class="form-control" value="{{task.url}}">
                        </div>
                        <div class="form-group mt-3 text-center">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}