{% extends 'layout.html' %} {% block title %} Flask Test {% endblock %} {% block
content %}
<div class="d-flex p-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Task Name</th>
        <th scope="col">Task URL</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for item in data %}
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.taskname }}</td>
        <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
        <td>
            <a href="/edittask/{{ item.id }}" class="btn btn-outline-success"><i class="bi bi-pencil-square"></i></a>
            <button class="btn btn-outline-danger" onclick="confirmDelete('{{item.id}}')"><i class="bi bi-trash-fill"></i></button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
