* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.header {
    padding: 1rem 1.5rem;
    li {
        display: inline-block;
        margin:  0 1rem;
    }
}

main {
    padding: 2rem;
    height: 100vh;
}

.footer {
    text-align: center;
}